./v16/*
./Saved/*
./Intermediate/*
./DerivedDataCache/*
./Script/*
IPSmartDrone/.vs/IPSmartDrone/v16/.suo
IPSmartDrone/.vs/IPSmartDrone/v16/Solution.VC.db
IPSmartDrone/.vs/IPSmartDrone/v16/Browse.VC.db
